version: '3.8'

services:
  db:
    image: postgres:15-alpine
    volumes:
      - prod_postgres_db:/var/lib/postgresql/data
    env_file:
      - ./.env.prod
    expose:
      - "5432"

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile.prod
    # --- INICIO DE CAMBIOS ---
    # 1. Llama al script de espera
    # 2. Si el script tiene éxito (exit 0), ejecuta los otros comandos
    command: >
      sh -c "python /app/backend/wait-for-postgres.py &&
             python manage.py migrate &&
             python manage.py seed_init &&
             gunicorn core.wsgi:application --bind 0.0.0.0:8000"
    # --- FIN DE CAMBIOS ---
    volumes:
      - prod_django_media:/app/backend/media

      # Monta el volumen para los archivos estáticos
      - prod_django_static:/app/backend/staticfiles

    env_file:
      - ./.env.prod
    environment:
      - DJANGO_SETTINGS_MODULE=core.settings.prod
      # Pasa el nombre del host de la BD al script de espera
      - POSTGRES_HOST=db
    depends_on:
      - db

  frontend_nginx:
    # ... (sin cambios) ...
    build:
      context: .
      dockerfile: frontend/Dockerfile.prod
      # --- INICIO DEL CAMBIO ---
      args:
        # Le decimos a Docker que pase una VITE_API_URL vacía
        # al Dockerfile durante la construcción.
        VITE_API_URL: "" 
      # --- FIN DEL CAMBIO ---
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.prod.conf:/etc/nginx/conf.d/default.conf
      # Nginx también necesita leer el volumen de estáticos
      - prod_django_static:/app/backend/staticfiles
      - certbot_certs:/etc/letsencrypt
      - certbot_www:/var/www/certbot
      - ~/ssl-dhparams.pem:/etc/letsencrypt/ssl-dhparams.pem
      - ~/options-ssl-nginx.conf:/etc/letsencrypt/options-ssl-nginx.conf
    depends_on:
      - backend

  certbot:
    image: certbot/certbot:latest
    volumes:
      - certbot_certs:/etc/letsencrypt
      - certbot_www:/var/www/certbot
    depends_on:
      - frontend_nginx
    command: >
      sh -c "
        while true; do
          sleep 12h & wait $${!};
          certbot renew --quiet --post-hook 'docker-compose -f /home/info_pcychips/sis-visitas/docker-compose.yml restart frontend_nginx';
        done
      "

volumes:
  prod_postgres_db:
  prod_django_media:
  # Define el nuevo volumen
  prod_django_static:
  # --- FIN DEL CAMBIO ---
  certbot_certs:
  certbot_www: